a(href="/") Retour
div(ng-controller='DoctorUpdater')
    form.form-horizontal(ng-submit="submit()", ng-init="init('#{id}')")
        h3.text-center Modifier un médecin
        .controlgroup
            label.control-label(for="firstName") Prénom :
            .controls
                input(type="text", id="firstName", ng-model="firstName", placeholder="Patrick")
        .controlgroup
            label.control-label(for="lastName") Nom :
            .controls
                input(type="text", id="lastName", ng-model="lastName", placeholder="Dupont")
        .controlgroup
            label.control-label(for="address") Adresse :
            .controls
                input(type="text", id="address", ng-model="address", placeholder="58, bd Montparnasse")
        .controlgroup
            .controls
                input(type="submit", value="Envoyer !")
