!!!
html(ng-app="shaolin")
  head
      meta(charset='utf8')
      base(href='/')
      title Doctolib - JavaScript Shaolin
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/app.css')
      block imports
  body
      #content
          block body
